@model Dialectico.Models.WordDetail

<div>
    <h1 class="page-title">@Html.DisplayFor(m => m.WordName)</h1>
    <h4> Root: @Html.DisplayFor(m => Model.RootName)</h4>
    <br />
    <p>
        @Html.DisplayFor(m => m.Notes)
    </p>
    <p>
        @Html.ActionLink("Create New Meaning", "CreateMeaning", new { id = Model.WordId }) |
        @Html.ActionLink("Edit This Word", "Edit", new { id = Model.WordId })
    </p>

    <hr />
</div>

@foreach (var item in Model.Meanings)
{
    <table>
        <thead>
            <tr>
                <th colspan="2">@Html.DisplayFor(modelItem => item.Pronunciation)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Dialect: @Html.DisplayFor(modelItem => item.RegionalDialect)</td>
                <td>Average Rating: @Html.DisplayFor(modelItem => item.CumulativeRating)</td>
            </tr>

            <tr>
                <td>Context: @Html.DisplayFor(modelItem => item.Context)</td>
                <td></td>
            </tr>
            <tr>
                <td>Description: @Html.DisplayFor(modelItem => item.Description)</td>
                <td></td>
            </tr>

            <tr>
                <td>Dialects Sharing Meaning: @Html.DisplayFor(modelItem => item.DialectList)</td>
                <td></td>
            </tr>
            <tr>
                <td>Meaning ID: @Html.DisplayFor(modelItem => item.MeaningId)</td>
                <td></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>
                    @Html.ActionLink("Read Insights & Details", "DisplayComments", new { id = item.MeaningId }) |
                    @Html.ActionLink("Give Your Rating", "CreateRating", new { id = item.MeaningId }) |
                    @Html.ActionLink("Edit This Meaning", "EditMeaning", new { id = item.MeaningId }) |
                    @Html.ActionLink("Delete This Meaning", "DeleteMeaning", new { id = item.MeaningId })
                </td>
            </tr>
        </tfoot>
    </table>
    <br />
    <hr />
}


<p>

    @Html.ActionLink("Back to Wordbank", "Index")
</p>
