@model Dialectico.Models.MeaningListItem

@{
    ViewBag.Title = "DisplayComments";
}

<h3>Meaning Feedback</h3>

<div>
    <h2>@Html.DisplayFor(model => model.WordName) \ @Html.DisplayFor(model => model.RegionalDialect) </h2>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.WordName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WordName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RegionalDialect)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegionalDialect)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pronunciation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pronunciation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Context)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Context)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CumulativeRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CumulativeRating)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MeaningId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeaningId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WordId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WordId)
        </dd>

    </dl>
</div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MeaningId })
<hr />
@foreach (var item in Model.RatingsList)
{
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(modelItem => item.IndividualRating)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.IndividualRating)
            </dd>
            <dt>
                @Html.DisplayNameFor(modelItem => item.Comment)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Comment)
            </dd>
        </dl>
    </div>
    <div>
        <p>
            @Html.ActionLink("Edit Comment/Rating", "EditRating", new { id = item.RatingId }) |
            @Html.ActionLink("Delete Rating", "DeleteRating", new { id = item.RatingId })
        </p>
    </div>
    <hr />
}

<p>
    @Html.ActionLink("Back to Wordbank", "Index")
</p>
