@model IEnumerable<Dialectico.Models.WordListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WordName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RootName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RootId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WordName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RootName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RootId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WordId }) |
            @Html.ActionLink("Details", "Details", new { id=item.WordId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WordId })
        </td>
    </tr>
}

</table>
