@model IEnumerable<Dialectico.Models.RootListItem>

@{
    ViewBag.Title = "Index";
}

<h2 class="page-title">Roots in the Database</h2>
<p>Words, usually dialect specific, that don't have roots (such as كويس and مش, in that they don't have words derived from them in the common relationship of root to-> measure to-> word) should be searched for by word, instead of by root.</p>

<p>
    @Html.ActionLink("+ New Root", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RootName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NotesOnRoot)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RootName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NotesOnRoot)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) 
            @Html.ActionLink("Details", "Details", new { id=item.Id }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
